<!DOCTYPE html>
html( lang="en" )
  head
    meta( charset="UTF-8" )
    meta( name="viewport", content="width=device-width, initial-scale=1.0" )
    meta( http-equiv="X-UA-Compatible", content="ie=edge" )
    title Córtala. A URL shortener made for freeCodeCamp
    link( href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet" )
    link( href="/css/bootstrap-4.1.1.css" rel="stylesheet" )
    link( href="/css/example.css", rel="stylesheet" )
  body.text-center
    .form.flex-element.h-100
      header.header.py-3
        h1.header-logo.text-dark Córtala
        p Another URL shortener
      form#form.form-signin.mb-2( action="/api/shorturl/new" method="POST" )
        h1.h3.mb-3.font-weight-normal Make it short!
        .form-inline
          input#textInput.col-12.form-control(
            type="text" name="url" placeholder="http(s)://your.link/to/be/shortened"
          )
          button.col-12.btn.btn-primary( type="submit" ) Shorten URL
      div#output-url.card.p-4.mt-2.box-shadow.flex-element.hidden
        div.card-body.flex-element
          h3.text-primary Here you go!
          p This is your shortened URL:
          .input-group
            input#short-url-input.form-control( type="text" value="" )
            .input-group-append
              button#copy-btn.btn.btn-primary(
                type="submit"
                title="Copy to clipboard"
                onclick="copy()"
              ) copy
      div#output-error.card.p-4.mt-2.box-shadow.flex-element.hidden
        div.card-body.flex-element
          h3.text-danger Oops!
          p The "URL" you just entered doesn\'t have the required format.
          p Please, try again with the correct format:
            br
            code e.g.: http(s)://the.url/and/path

  include Parcials/Footer.pug
  script( src="/js/example.js" )