extends Parcials/Header.pug

block append body
  body
    .container
      header.header.py-3
        .row.flex-nowrap.justify-content-between.align-items-center
          .col-12.text-center
            h1.header-logo.text-dark #{api ? 'Córtala API' : 'Córtala'}

      main.row.justify-content-md-center
        if api
          .col-8
            h2.mt-4 Welcome to the API.
            p.lead  Welcome to the API homepage. Here you will be presented with the neccessary steps 
              | to successfully test the #[em URL shortener microservice].
            p.lead Please, read the following instructions to make use of the API:
          .col-8.mt-3
            h3 Usage:
            ul
              li Send a POST request to #[code (domain)/api/shorturl/new].
              li You will get a JSON response with a link to the shortener URL. If you copy and paste 
                | it in your browser, you will be redirected to the original URL.
          .col-8.mt-3
            h3 Errors:
            p If the input URL doesn't follow the http(s)://www.example.com(/more/routes) format, the 
              | JSON response will have this format: #[code {"error":"invalid URL"}].
          .col-8.mt-3
            h3 Example:
            p If you want to see this API in action, follow 
              a( href="https://cortala-fcc-project-3.glitch.me" ) this link 
              | to test a working example using #[em Cortala].
        else
          .col-8
            h1.mt-5 Greetings, visitor!
            p.lead  You just arrived to the main page of #[em Cortala], a microservice to shorten 
              | URLs so you can send a shorter link instead of the original one.
            p If you just want more info on the API, navigate to #[a( href="api/" ) the API docs].
            h3 User Stories:
            ol( class="user-stories" )
              li I can POST a URL to #[code (project_url)/api/shorturl/new] and I will receive a 
                | shortened URL in the JSON response.
                br/
                | Example: #[code { "original_url" : "www.google.com", "short_url" : 1 }]
              li If I pass an invalid URL that doesn't follow the 
                | #[code http(s)://www.example.com(/more/routes)] format, the JSON response will 
                | contain an error like #[code {"error":"invalid URL"}].
                br/
                | HINT: to be sure that the submitted url points to a valid site you can use the 
                | function dns.lookup(host, cb) from the dns core module.
              li When I visit the shortened URL, it will redirect me to my original link.

  include Parcials/Footer.pug